{%- set upcoming = get_page(path = "upcoming.md") -%}
{%- if upcoming.content | length > 150 -%}
<h3>Upcoming Activity:</h3>
<ul>
{%- set upcoming_entries = upcoming.content | split(pat = "<tbody>") | slice(start = 1) -%}
{%- for upcoming_entry in upcoming_entries -%}
{%- for line in upcoming_entry | split(pat = "\n") -%}
{%- if line is starting_with("<tr><td>") -%}
<li>
	{{line | replace(from = "<tr><td>", to = "") | replace(from = "</td><td>", to = " - ") | replace(from = "</td></tr>", to = "") | safe }}
</li>
{%- endif -%}
{%- endfor -%}
{%- endfor -%}
</ul>
{%- endif -%}

<h3>Recent Activity:</h3>
<ul>
	{%- set numberOfLines = 15 -%}
	{%- set insertImageAt = 7 -%}
	{%- set count = 0 -%}
	{%- set events = [] -%}
	{%- set calendar = get_page(path = "in-time.md") -%}
	{%- set years = calendar.content | split(pat = "<tbody>") | slice(start = 1) -%}
	{%- for year in years -%}
	{%- for line in year | split(pat = "\n") -%}
	{%- if line is starting_with("<tr><td>") -%}
	{%- set_global count = count + 1 -%}
	{%- if count > numberOfLines -%}{%- break -%}{%- endif -%}
	{%- if count == insertImageAt -%}
</ul>
<a href="/interactive-art/strainings/">
	<img src="/images/DSCN0073SM.gif" alt="Strainings gif animation" title="Strainings" width="116" height="155">
</a>
<ul>
	{%- endif -%}
	<li>
		{{line | replace(from = "<tr><td>", to = "") | replace(from = "</td><td>", to = " - ") | replace(from = "</td></tr>", to = "") | safe }}
	</li>
	{%- endif -%}
	{%- endfor -%}
	{%- endfor -%}
</ul>
<div id="full">
	see full <a href="in-time">calendar</a>
</div>
